@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

/* global */
* {
    font-family: 'Lato', sans-serif;
}

body {
    padding: 2% 9%;
    background-color: #F5E9F7;
  }

/* header section */
nav {
    display: flex;
    justify-content: space-between;
}

nav button {
    background-color: #FFFFFF;
    width: 50px;
    height: 50px;
    border: 1px solid #B0A7AF;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

nav button:hover {
  background-color: #B0A7AF;
}

nav p {
    display: inline-block;
    font-weight: bold;
}

/* header section ends */

/* section */

section {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
  }

.sign-up-text {
  margin-top: 100px;
  width: 40%;
}

.sign-up-text h1 {
    font-size: 29px;
}

.sign-up-text p {
    font-size: 18px;
}

.sign-up-text span {
    font-weight: bold;
}

.info {
  margin-bottom: 35px;
}

.create-account {
  width: 50%;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  padding: 6%;
  box-sizing: border-box;
  background-color: #FFFFFF;
}

.create-account h2 {
  font-size: 23px;
  margin: 15px 0;
}

form {
  margin-bottom: 20px;
}
form p {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 16px;
}

.typed-input {
  font-size: 17px;
  height: 40px;
  width: 100%;
  padding-left: 20px;
  margin: 5px 0 20px 0;
  border-radius: 5px;
  border: 1px solid rgb(208, 208, 215);
}

.terms-and-conditions p {
  display: inline;
}

.terms-and-conditions a  {
  font-weight: bold;
  color: #664efc;
  text-decoration: underline;
}

.create-account button {
  display: block;
  width: 100%;
  margin: 20px 0;
  font-size: 18px;
  height: 45px;
  border-radius: 4px;
  font-weight: bold;
  background-color: #664efc;
  color: #FFFFFF;
  border: 0;
  transition: .5s;
  cursor: pointer;
}

.create-account button:hover {
  background-color: transparent;
  color: #4d13d1;
  border: 1px solid #4d13d1;
  transition: .5s;
  opacity: 1 !important;
}